* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif;
}

body {
    background-image: url('assets/pic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    background: #0e52b8;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(23, 11, 198, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
}
/* Welcome Screen */
#welcome-container {
    text-align: center;
    width: 100%;
}

#welcome-container h2 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
}

#welcome-container p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

#welcome-container button {
    background-color: #0178d2;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#welcome-container button:hover {
    background-color: #0178d2;
}

/* Email Verification Message */
#verification-message {
    display: none;
    width: 350px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

#verification-message h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

#verification-message p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: 1px solid #0d2e6e;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

input:focus {
    border-color: #0d2e6e;
    box-shadow: 0px 0px 4px rgba(26, 115, 232, 0.5);
}

button {
    width: 100%;
    padding: 14px;
    background: #1a73e8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

button:hover {
    background: #135abc;
}

.button-btn {
    width: 100%;
    padding: 14px;
    background: white;
    color: #5f6368;
    border: 1px solid #dadce0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: 0.3s;
}

.button-btn img {
    width: 24px;
    height: 24px;
}

.button-btn:hover {
    background: #f8f9fa;
}

.login-link {
    margin-top: 15px;
    font-size: 16px;
}

.login-link a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: 500;
}

.login-link a:hover {
    text-decoration: underline;
}
